
@import url('./style.css');





.header-cursos {
    display: flex;
    justify-content: space-between;
    background-color: #57499e;
}
.header-cursos a img {
    width: 3rem;
}
.header-cursos ul {
    padding:  0 2rem;
    font-size: 2rem;
    
   
}
.logica-playlist-aulas {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.logica-playlist-aulas ul {
    display: flex;
    gap: 15rem;
    font-size: 2rem;
    text-transform: uppercase;
    justify-content: center;  
}


.imagem-centralizada {
    display: flex;
    justify-content: center;
    align-items: center;
}