@import url("https://fonts.cdnfonts.com/css/hammersmith-one");
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: aliceblue;
  background-size: 100%;
  overflow-x: hidden;
  font-family: "Hammersmith one", sans-serif;
}
header {
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 1.2rem;
  z-index: 100;
  background-color:rgba(250, 235, 215, 0.959);
  justify-content: space-between;

}