@import url("./global.css");
.navbar img {
  width: 2rem;
}

.header {
  background-color: #57499e;
}
.navbar {
  display: flex;
  flex-direction: row;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.navbar ul img {
  width: 3rem;
}
.navbar img {
  width: 8rem;
  transition: 0.3s ease;
}
.navbar img:hover {
  transform: scale(1.1);
}
.navbar a {
  color: #ffffff;
  font-weight: 500;
  margin: 0 1rem;
  font-size: 1.3rem;
  transition: 0.3s ease;
}
.navbar a:after {
  content: "";
  display: block;
  width: 0%;
  background-color: #1c1678;
  height: 3px;
  transition: 0.6s;
}
.navbar a:hover::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #1c1678;
  height: 3px;
}
.navbar li {
  display: flex;
  align-items: center;
}
.img-container img {
  width: 30rem;
}
.home {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  background-image: url('imagens/background-image.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  gap: 0;
}
.home-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 6rem;
}
.home h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
}
.home p {
  font-size: 1rem;
  text-align: center;
  color: white;
}
.inner-headings {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 3.45rem;
  line-height: 3.4rem;
  font-size: 3rem;
  font-family: "Hammersmith one", sans-serif;
  text-transform: uppercase;
  overflow: hidden;
}
.inner-headings span {
  position: relative;
  color: lightskyblue;
  animation: animation 12s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    top: 0;
  }
  20% {
    top: 0;
  }
  25% {
    top: -50px;
  }
  45% {
    top: -50px;
  }
  50% {
    top: -100px;
  }
  70% {
    top: -100px;
  }
  75% {
    top: -150px;
  }
  95% {
    top: -150px;
  }
}
span {
  color: #0cc0df;
}
.audio-container {
  display: flex;
  padding-left: 6rem;
}
.sobre {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.6fr 0.5fr;
  align-items: center;
  background-color:  #393274;
  gap: 10rem;
}
.sobre-content {
  margin-left: 2rem;
}
.sobre h1 {
  font-size: 5rem;
  color: white;
}
.sobre h3 {
  padding-top: 2rem;
  font-size: 3rem;
  color: white;
}
.sobre p {
  font-size: 1.2rem;
  text-align: justify;
  color: white;
}
.sobre .text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.icon-container img {
  width: 2rem;
  transition: 0.3s ease;
}
.icon-container img:hover {
  transform: scale(1.1);
}

.icon-container {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.copyright {
  color: white;
  font-weight: 100;
  font-size: 0.7rem;
}
.navfooter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  background-color: lightskyblue;
  padding: 0.7rem;
}

.navfooter .lista-elementos-footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navfooter .lista-elementos-footer ul li {
  display: flex;
  justify-content: center;
}

.navfooter a {
  font-weight: 100;
  color: white;
  font-size: 0.8rem;
  padding-left: 1rem;
}
.navfooter a:after {
  content: "";
  display: block;
  width: 0%;
  background-color: #1c1678;
  height: 3px;
  transition: 0.6s;
}
.navfooter a:hover::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #1c1678;
  height: 3px;
}
.cursos {
  width: 100%;
  min-height: 100vh;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr 0.8fr;
  background-color: #1c1678;
}
.subsection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  padding: 5rem;
  text-align: center;
}
.subsection:not(:first-child){
  padding-top: 0rem;
}
.img-container {
  width: 100%;
}
.subsection .img-container img {
  width: 200px;
}

.text-container {
  display: grid;
  grid-template-columns: 1fr;
}

.text-container p {
  font-size: 1.2rem;
  text-align: justify;
  padding-bottom: 0.6rem;
}
.contato-container .text-container p{
  width: 65rem;
}
.text-container a {
  text-align: center;
  align-items: center;
}

.content-container {
  display: grid;
  grid-template-rows: 1fr 0fr 0.2fr;
  border: solid lightgray;
  border-radius: 2rem;
  border-width: 1px;
  background-color: aliceblue;
}
.content-container p {
  padding-right: 1rem;
  padding-left: 1rem;
  color: black;
}
.content-container .link-containert a {
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
}

.contato {
  width: 100%;
  min-height: 100vh;
  padding-top: 6rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.contato-container {
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}
.contato-container .img-container img {
  width: 250px;
  border-radius: 5rem 2rem;
  box-shadow: 0 0 1.5rem #57499e;
}
.contato-container .text-container {
  display: grid;
  grid-template-rows: 0.1fr 1fr;
}

.contact-form {
  padding: 0.8rem 0;
  min-height: 100vh;
  background-color: #1c1678;
}
.contact-form h2 {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 2rem;
  color: aliceblue;
}
.contact-form form {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3em;
}
.contact-form form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-form form .input-box input,
.contact-form form textarea {
  width: 90%;
  padding: 1.5em;
  font-size: 1.1rem;
  color: black;
  background-color: aliceblue;
  margin: 1rem 0;
  transition: all 0.5s;
}
.contact-form input:focus {
  border-radius: 1.1rem;
}
.btn-1 {
  padding: 1rem 1.7rem;
  background-color: white;
  color: black;
  border: 0.1rem solid transparent;
  border-color: black;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.1s ease;
  cursor: pointer;
}
.btn-1:hover {
  background-color: #57499e;
  color: white;
  border: 0.1rem solid transparent;
  transform: scale(1.1);
}
@media (max-width: 1000px){
  .subsection{
    gap:2rem;
  }
}
@media (max-width: 900px){
  .subsection {
    display: grid;
    grid-template-columns: none;
    gap: 3rem;
    padding: 1rem;
    text-align: center;
}
.content-container{
  width: 50rem;
}
.contato-container .img-container img{
  width: 13rem;
}
.contato-container {
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.information-container p{
  font-size: 1rem;
  padding-right: 1rem;
}
.sobre-content{
  width: 45rem;
}
.sobre-content p{
  font-size: 1rem;
}
}
@media (max-width: 1216px) {
  .sobre h1 {
    font-size: 2.8rem;
  }
  .sobre h3 {
    font-size: 2.1rem;
  }
  .sobre .img-container img {
    width: 22rem;
  }
}
@media (max-width: 1190px) {
  .navbarn ul {
    gap: 2.8rem;
  }
  .navbar a {
    font-size: 1.6rem;
  }
  .navbar img {
    width: 5rem;
  }
  .img-container img {
    width: 18rem;
  }
  .inner-headings {
    font-size: 2rem;
  }
  .home p {
    font-size: 0.6rem;
  }
  .home h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 1110px) {
  .navbar a {
    font-size: 1.8rem;
    font-weight: 300;
  }
  .sobre {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 3rem;
  }
  .sobre h1 {
    font-size: 2.8rem;
  }
  .sobre h3 {
    font-size: 2rem;
  }
  .sobre p {
    font-size: 0.8rem;
    padding-right: 5rem;
  }
  .sobre .img-container img {
    width: 25rem;
  }
}
@media (max-width: 896px) {
  .navbar a {
    font-size: 1.6rem;
    font-weight: 300;
  }
  .sobre p {
    padding-right: 1rem;
  }
}
@media (max-width: 1271px){
  .sobre {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    gap: 2rem;
  }
  .sobre .img-container {
    display: flex;
    justify-content: center;
  }
  .sobre .img-container img {
    width: 25rem;
  }
  .audio-container{
    width: 15rem ;
  }
  .sobre-content{
    width: 50rem;
    padding-bottom: 6rem;
  }
  .sobre-content h1{
    text-align: center;
  }
  .sobre-content p{
    font-size: 1rem;
  }
}
@media (max-width: 1104px) {
  .sobre {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    padding: 0;
  }
  .sobre .img-container {
    display: flex;
    justify-content: center;
  }
  .sobre .img-container img {
    width: 16rem;
  }
}
@media (max-width: 1417px) {
  .contato-container .img-container img {
    width: 16rem;
  }
  .icon-container {
    padding: 2rem 0;
  }
}
@media (max-width: 756px) {
  .subsection {
    display: grid;
    grid-template-columns: none;
    gap: 3rem;
    padding: 1rem;
    text-align: center;
}
  .navbar a {
    font-size: 1rem;
  }
  .img-container img {
    width: 16rem;
  }
  .home-content h1 {
    font-size: 1.5rem;
  }
  .home-content p {
    font-size: 0.6rem;
  }
  .sobre {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    padding: 0;
  }
  .sobre-content {
    width: 35rem;
  }
  .sobre .img-container {
    display: flex;
    justify-content: center;
  }
  .sobre .img-container img {
    width: 16rem;
  }
  .sobre h1 {
    font-size: 2rem;
  }

  .sobre h3 {
    font-size: 1.3rem;
  }
  .sobre p {
    font-size: 0.65rem;
  }
  .text-container p {
    font-size: 0.8rem;
    align-items: center;
  }
  .contato-container .img-container img {
    width: 10rem;
  }
  .icon-container {
    padding: 1rem 0;
  }
  .icon-container img {
    width: 1.3rem;
  }
  .contato-container {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
  }
}
